<!DOCTYPE html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="static/css/style.css">
      <title>Criar novo elemento</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color: lightblue;">
    <div class="container mt-5 text-center">
      <h3 style="font-family: Arial;"><strong>Adicionar um componente</strong></h3>
      <form class="mt-4" method="POST">
        {% for field in fields %}
          <div class="col mt-2">
            <div class="row mx-auto" style="width: 300px">
              <input name="{{field}}" type="text" class="form-control" placeholder="{{field}}">
            </div>
          </div>
        {% endfor %}
        <input type="submit" class="btn btn-success mt-4" value="Adicionar"/>
        <a href="/" type="button" class="btn btn-danger mt-4">Voltar</a>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
